* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #d7c9bc;
}

img {
    max-width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100vw;
    background-color: #592608;
    display: flex;
    justify-content: space-around;
}

header .logo {
    width: 200px;
    mix-blend-mode: difference;
}

header nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    padding: 2rem;
    color: white;
    transition: color 200ms ease-in-out;
    font-size: 1.1rem;
}

header nav ul a:hover {
    color: goldenrod;
    background-color: #4a2613;
}

.hero {
    height: 75vh;
    width: 100%;
    background-image: url(images/mechanical\ arm.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 30%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
}

.main {
    display: flex;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 16px;
}

.one,
.two,
.three {
    padding: 0 10px;
    width: 33.3%;
    padding: 0 10px;
}

.four,
.five,
.six {
    margin-top: 16px;
    padding: 0 10px;
    width: 33.3%;
}

.content,
.text {
    padding: 0 15px;
    width: 50%;
}

.content {
    background-image: conic-gradient(grey, tan);
    background-image: conic-gradient( right, grey 75%, tan);
    margin-left: 15px;
    margin-top: 15px;
    max-width: 50%;
}

.text {
    background-image: conic-gradient(grey, tan);
    background-image: conic-gradient( right, grey 75%, tan);
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.content :first-child {
    text-align: center;
}

.text :first-child {
    text-align: center;
}

footer {
    background-image: conic-gradient(#26150b, #592608);
    background-image: conic-gradient( right, #26150b 75%, #a65208);
}

@media screen and (max-width: 640px) {
    .one,
    .two {
        width: 50%;
    }

    .three,
    .four {
        margin-top: 15px;
        width: 50%;
    }

    .five,
    .six {
        width: 50%;
    }

    .footer-content {
        img {
            max-width: 20%;
        }
    }
}